html {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: blue;
}

.console {
	margin: 0 auto;
	padding: 0;
}

.console form {
	display: flex;
	margin-bottom: 1em;
}

.console form label {
	margin-right: 0.5em;
}

.console input {
	flex-grow: 100;
	background-color: inherit;
	border: 1px solid black;
	font-family: inherit;
	font-size: inherit;
}
