html {
	color: green;
	font-family: monospace;
}
body {
	background-color: #030303;
}
a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}
.Console {
	background-color: black;
}
.CommandForm input {
	background-color: inherit;
	border-bottom: 1px solid green;
	color: green;
}
