html {
	color: rgb(3, 214, 3);
	font-family: monospace;
}

body {
	background-color: #030303;
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

.console {
	background-color: #030303;
}

.console input {
	background-color: inherit;
	border-bottom: 1px solid green;
	color: rgb(3, 214, 3);
}
