header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

header h1 {
  font-size: 14pt;
  margin: 0;
  padding: 0;
  flex-grow: 100;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header nav {
  display: block;
  font-size: 60%;
  text-align: right;
  max-width: 1200;
  margin: 0 auto;
  white-space: nowrap;
}

header nav button {
  margin-left: 1em;
}

ol, ul {
  padding-left: 1em;
}

li {
  margin: 0.4rem 0;
}

.console {
  height: 100%;
}

.console form button {
  display: none;
}

.terminal {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  margin: 0;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: inherit;
  background-color: #F9F9F9;
  border-bottom: 1px solid currentColor;
}

.menu button {
  line-height: 0;
  padding: 2px;
}

.menu button img {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}

.menu-modal {
  width: auto;
  min-width: 100px;
  max-width: 400px;
  height: auto;
  min-height: 100px;
  padding: 0;
}

.menu-modal nav {
  display: block;
  font-size: 60%;
  text-align: right;
  height: auto;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.menu-modal nav button {
  display: block;
  width: calc(100% - 2em);
  margin: 1em;
}
