.menu {
  margin: 0;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: inherit;
  background-color: #F9F9F9;
  border-bottom: 1px solid currentColor;
}

header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

header h1 {
  font-size: 14pt;
  margin: 0;
  padding: 0;
  flex-grow: 100;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header nav {
  display: block;
  font-size: 60%;
  text-align: right;
  max-width: 1200;
  margin: 0 auto;
  white-space: nowrap;
}

header nav button {
  margin-left: 1em;
}

ol, ul {
  padding-left: 1em;
}

li {
  margin: 0.4rem 0;
}

.console {
  height: 100%;
  max-width: 1200px;
}

.console form button {
  display: none;
}

.terminal {
  padding: 1em;
}
